.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
}

.logout-btn {
  background: #f44336;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #d32f2f;
}

.dashboard-container {
  padding: 50px;
  text-align: center;
}